[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.7"
pillow = "*"
celery = {extras = ["redis"], version = "*"}
eventlet = "*"
django-environ = "*"
django-extensions = "*"
django-allauth = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
djangorestframework = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
